body {
  background: #FFF;
  font-family: 'Share Tech Mono', monospace !important;
  color: #333 !important;
}
.mono {
  font-family: 'Share Tech Mono', monospace !important;
}
.text.container {
  padding-top: 6%;
}
.identity {
  font-family: 'Share Tech Mono', monospace !important;
  text-transform: uppercase !important;
  color: #CCC !important;
}
a {
  padding: 0px 1px;
  color: #39F !important;
  border-bottom: 2px dotted #39f;
}
a:hover {
  color: #FFF !important;
  background: #39F !important;
  cursor: pointer;
}
.emphasis {
  font-family: 'Share Tech Mono', monospace !important;
  text-transform: uppercase !important;
  color: #FFF !important;
  padding: 1px 3px 0px;
  border: 2px solid #CCC;
  background: #CCC !important;
  font-size: 96%;
}
.deemph {
  color: #CCC;
}
.borderless {
  border-bottom: none !important;
}