body {
  background: #FFF;
  font-family: 'Share Tech Mono', monospace !important;
  color: #333 !important;
}
.mono {
  font-family: 'Share Tech Mono', monospace !important;
}
.text.container {
  padding-top: 10%;
}
.identity {
  font-family: 'Share Tech Mono', monospace !important;
  text-transform: uppercase !important;
  color: #999 !important;
}
a {
  padding: 0px 1px;
  color: #39F !important;
}
a:hover {
  color: #FFF !important;
  background: #39F !important;
  cursor: pointer;
}
.emphasis {
  background-color: #39f !important;
  padding-right: 10px !important;
}